<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>635030450307-0frilnea4hk05v5tgpgianob27taec20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.635030450307-0frilnea4hk05v5tgpgianob27taec20</string>
	<key>API_KEY</key>
	<string>AIzaSyBfXNMIcMQivGxkS8kAqQVw9DNcWvcYHD8</string>
	<key>GCM_SENDER_ID</key>
	<string>635030450307</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chatapp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-28072</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-28072.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:635030450307:ios:394459cdac5b27bf006bb6</string>
</dict>
</plist>